$white: #fff;
$black: #000;
$gray-1: #f9f9f9;
$gray-2: #f4f4f4;
$gray-3: #efefef;
$gray-4: #e8e8e8;
$gray-5: #bdc0c5;
$gray-6: #92969c;
$gray-7: #2f343b;
$gray-8: #1e2329;
$green: #52c7ca;
$green-cover: #52b5b7;
// $green-light: #52b5b7;
$red: #ff655e;
$red-cover: #ff4d4d;
$yellow: #ffb200;
$yellow-cover: #ffac36;
$bg-color: #f9f9f9;

$border-radius-5: 5px;
